@model GameStore.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attendeeList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attendeeList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to the list of events", "UserIndex")
</p>
