@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="jumbotron">
        <h1>Store First Page</h1>

    </div>

    <div class="row">
        <table>
            <tr>
                <td><a class="zoom" href="@Url.Action("FinalFantasy4", "GameId")">
                    <img src="~/Content/Images/FinalFantasy4.jpg" alt="Game Cover" style="width: 350px; height: 175px;"></a>
                </td>
                <td><a class="zoom" href="@Url.Action("NHL09", "GameId")">
                    <img src="~/Content/Images/NHL09.jpg" alt="Game Cover" style="width: 350px; height: 175px; "></a>
                </td>
                <td><a class="zoom" href="@Url.Action("Fallout3", "GameId")">
                    <img src="~/Content/Images/Fallout3.jpg" alt="Game Cover" style="width: 350px; height: 175px; "></a>
                </td>
            </tr>
            <tr>
                <td><a class="zoom" href="@Url.Action("TombRaiderUW", "GameId")">
                    <img src="~/Content/Images/TombRaiderUW.jpg" alt="Game Cover" style="width: 350px; height: 175px; "></a>
                </td>
                <td><a class="zoom" href="@Url.Action("CoDWaW", "GameId")">
                    <img src="~/Content/Images/CoDWaW.jpg" alt="Game Cover" style="width: 350px; height: 175px; "></a>
                </td>
                <td><a class="zoom" href="@Url.Action("RainbowSixV2", "GameId")">
                    <img src="~/Content/Images/RainbowSixV2.jpg" alt="Game Cover" style="width: 350px; height: 175px; "></a>
                </td>
            </tr>
        </table>
    </div>
</body>