@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="jumbotron">
        <h1>Store First Page</h1>

    </div>

    <div class="row">
        <table>
            <tr>
                <td><a class="zoom" href="@Url.Action("FinalFantasy4", "GameId")">
                    <img src="~/Content/Images/FinalFantasy4.jpg" alt="Final Fantasy 4"></a>
                </td>
                <td>
                    <a class="zoom" href="@Url.Action("NHL09", "GameId")">
                        <img src="~/Content/Images/NHL09.jpg" alt="NHL 09">
                    </a>
                </td>
                <td><a class="zoom" href="@Url.Action("Fallout3", "GameId")">
                    <img src="~/Content/Images/Fallout3.jpg" alt="Fallout 3"></a>
                </td>
            </tr>
            <tr>
                <td><a class="zoom" href="@Url.Action("TombRaiderUW", "GameId")">
                    <img src="~/Content/Images/TombRaiderUW.jpg" alt="Tomb Raider: Under World"></a>
                </td>
                <td><a class="zoom" href="@Url.Action("CoDWaW", "GameId")">
                    <img src="~/Content/Images/CoDWaW.jpg" alt="Call of Duty: World at War"></a>
                </td>
                <td><a class="zoom" href="@Url.Action("RainbowSixV2", "GameId")">
                    <img src="~/Content/Images/RainbowSixV2.jpg" alt="RainbowSix: Vegas 2"></a>
                </td>
            </tr>
        </table>
    </div>
</body>