@model GameStore.Models.Game

@{
    ViewBag.Title = "Admin - Details " + Html.DisplayFor(model => model.EnglishName);
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.EnglishName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameStatu.EnglishCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameStatu.EnglishCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsrbRating.EnglishRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsrbRating.EnglishRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameCategory.EnglishCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameCategory.EnglishCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameSubCategory.EnglishCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameSubCategory.EnglishCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishPlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishPlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamePerspective.EnglishPerspectiveName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamePerspective.EnglishPerspectiveName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishTrailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishTrailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishDetail)
        </dd>
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FrenchVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchTrailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchTrailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchDetail)
        </dd>

    </dl>

    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Guid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
