@model GameStore.Models.Game

@{
    ViewBag.Title = "Details";
    Func<object, string> rawString = x => (string) x;
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameStatusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameStatusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameSubCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameSubCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsrbRatingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsrbRatingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishPlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishPlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchPlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchPlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamePerspectiveCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamePerspectiveCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishTrailer)
        </dt>

        <dd>
            @Html.Raw(Model.EnglishTrailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchTrailer)
        </dt>

        <dd>
            @Html.Raw(Model.FrenchTrailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishDetail)
        </dt>

        <dd>
            @Html.Raw(Model.EnglishDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchDetail)
        </dt>

        <dd>
            @Html.Raw(Model.FrenchDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Guid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
