@model IEnumerable<GameStore.Models.Game>
@{
    ViewBag.Title = "List of Games";
}

<h2>List of Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameStatusCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameSubCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsrbRatingCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrenchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrenchVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishPlayerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrenchPlayerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamePerspectiveCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishTrailer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrenchTrailer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrenchDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrenchDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameStatusCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameSubCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsrbRatingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrenchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrenchVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishPlayerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrenchPlayerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamePerspectiveCode)
            </td>
            <td>
                @Html.Raw(item.EnglishTrailer)
            </td>
            <td>
                @Html.Raw(item.FrenchTrailer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrenchDescription)
            </td>
            <td>
                @Html.Raw(item.EnglishDetail)
            </td>
            <td>
                @Html.Raw(item.FrenchDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Guid }) |
                @Html.ActionLink("Details", "Details", new { id = item.Guid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Guid })
            </td>
        </tr>
    }

</table>
